body {
    background-color: rgb(0, 136, 255);
    
}
img{
    width: 200px; /*Ancho de la imagen */
    height: 200px; /*Alto de la imagen */

}
tr:hover{
    background-color: brown;
}
input{
    border-radius: 5px;
    border: 3px solid blue;
   
}
.tipoinputs{
    background-color: black;
}

#nombrepersona {
    height : 50px;
}

